@model SJRConstructions.Web.ViewModels.ForgotPasswordVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Reset Password";
}
<link href="~/css/user/user.css" rel="stylesheet" />

@if (TempData["UserNotFound"] != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @TempData["UserNotFound"]
    </div>
}
<h3 align="center">
    Reset Password
</h3>
<form asp-controller="User" asp-action="ResetPassword" method="post" class="needs-validation" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label asp-for="Email" class="form-label">Email Address</label>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
