@using System.Security.Claims;
@model SJRConstructions.Web.ViewModels.ProfileDetailsVM // Replace with your model namespace
@{
    ViewData["Title"] = "Update Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/user/user.css" rel="stylesheet" />
<div class="container-fluid">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <ul class="nav nav-tabs ml-5" id="profileTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="updateProfile-tab" data-toggle="tab" href="#updateProfile" role="tab" aria-controls="updateProfile" aria-selected="true">Update Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="changePassword-tab" data-toggle="tab" href="#changePassword" role="tab" aria-controls="changePassword" aria-selected="false">Change Password</a>
        </li>
    </ul>

    <div class="tab-content" id="profileTabsContent">
        <div class="tab-pane fade show active" id="updateProfile" role="tabpanel" aria-labelledby="updateProfile-tab">
            <div class="container-fluid">
                @if (TempData["ProfileMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["ProfileMessage"]
                    </div>
                }
                <form asp-controller="User" asp-action="UpdateProfileData" method="post">
                    <div class="row">
                        <label for="UserDetails.Email">Email Address</label>
                        <div class="form-floating mb-3">
                            <input asp-for="UserDetails.Email" class="form-control" placeholder="Email" autocomplete="username" required disabled>
                        </div>

                        <label for="UserDetails.TroopNumber">Troop Name</label>
                        <div class="form-floating mb-3">
                            <input asp-for="UserDetails.UserName" class="form-control" placeholder="Troop Number" required>
                            <span asp-validation-for="UserDetails.UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <label for="UserDetails.Contact">Contact No.</label>
                    <div class="form-floating mb-3">
                        <input asp-for="UserDetails.Contact" class="form-control" placeholder="Contact" required>
                        <span asp-validation-for="UserDetails.Contact" class="text-danger"></span>
                    </div>
                    <!-- Submit button -->
                    <button type="submit" id="buttonSave" class="btn btn-primary">Save Changes</button>
                </form>
            </div>

        </div>
        <div class="tab-pane fade" id="changePassword" role="tabpanel" aria-labelledby="changePassword-tab">
            <div class="container-fluid">
                <form asp-controller="User" asp-action="ChangePassword" method="post">
                    <!-- Current Password -->
                    <label for="ChangePassword.CurrentPassword">Current Password</label>
                    <div class="form-floating mb-3">
                        <input asp-for="ChangePassword.CurrentPassword" class="form-control" placeholder="Current Password" required>
                        <span asp-validation-for="ChangePassword.CurrentPassword" class="text-danger"></span>
                    </div>

                    <label for="ChangePassword.NewPassword">New Password</label>
                    <div class="form-floating mb-3">
                        <input asp-for="ChangePassword.NewPassword" class="form-control" placeholder="New Password" required>
                        <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                    </div>

                    <label for="ChangePassword.ConfirmPassword">Confirm Password</label>
                    <div class="form-floating mb-3">
                        <input asp-for="ChangePassword.ConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                        <span asp-validation-for="ChangePassword.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" id="buttonSave" class="btn btn-primary">Change Password</button>
                </form>
                @if (TempData["PasswordMessage"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["PasswordMessage"]
                    </div>
                }
            </div>

        </div>
    </div>
</div>
