@model InvitationVM

@{
    ViewData["Title"] = "Invitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/invitation/invitation.css" rel="stylesheet" />

<form asp-action="Invite" class="mb-4">
    <h4 align="center" style="font-size: 1.7rem;font-weight: 500;">
        Invite Troop Coordinator
    </h4>
    <label asp-for="Email" class="form-label">Enter Email Address</label>
    <input asp-for="Email" class="form-control mt-2" type="text" aria-required="true" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <button id="invite-submit" type="submit" class="btn btn-primary mt-3" value="Invite">Invite Troop</button>


    @if (TempData["successMessage"] != null)
    {
        <div class="alert alert-success d-flex align-items-center mt-3 mb-3" role="alert">
            <i class="fas fa-check-circle mr-2"></i>
            <p class="mb-0">@TempData["successMessage"]</p>
        </div>
    }

    @if (TempData["registrationLink"] != null)
    {
        <label class="form-label">Registration Link</label>
        <div class="input-group mb-3">
            <input id="registrationLinkInput" class="form-control" type="text" aria-required="true" value="@TempData["registrationLink"]" />
            <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard()">
                <i class="fas fa-clipboard"></i> Copy
            </button>
        </div>

        <script>
            function copyToClipboard() {
                var copyText = document.getElementById("registrationLinkInput");
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand("copy");

                var popup = document.createElement("div");
                popup.className = "popup";
                popup.textContent = "Copied to clipboard!";
                var buttonRect = document.querySelector('.btn-outline-secondary').getBoundingClientRect();
                popup.style.top = buttonRect.bottom + 'px';
                popup.style.left = buttonRect.left + 'px';

                document.body.appendChild(popup);

                setTimeout(function () {
                    popup.remove();
                }, 2000);
            }
        </script>
    }
</form>